<footer class="bg-[#ffe3ad] px-5 py-3 flex flex-col gap-3">
    <h2 class="font-bold">Nous contacter</h2>
    <div>
        <div>90 Av. de la Bernarde</div>
        <div>43000, Espaly-Saint-Marcel</div>
    </div>
    <div>
        <div>Tél: +33 6 10 81 46 47</div>
        <div>ludogite@graine-de-jeux.fr</div>
    </div>
    {# <div class="bg-blue-500 w-9 h-9 rounded-lg flex items-center justify-center"> #}
    <div class="flex gap-3">
        <a href="https://www.facebook.com/profile.php?id=61557897264969">
            {{ ux_icon('devicon:facebook', { class: 'w-7 h-7' }) }}
        </a>
        <a href="https://www.instagram.com/graine_de_jeux/">
            {{ ux_icon('skill-icons:instagram', {class: 'w-7 h-7'}) }}
        </a>
        <a href="https://www.instagram.com/graine_de_jeux/">
            {{ ux_icon('logos:whatsapp-icon', {class: 'w-7 h-7'}) }}
        </a>
        <a href="mailto:ludogite@graine-de-jeux.fr?subject=Prise de contact">
            {{ ux_icon('fluent-color:mail-24', {class: 'w-7 h-7'}) }}
        </a>
        <a href="tel:+33610814647">
            {{ ux_icon('ic:baseline-phone', {class: 'w-7 h-7'}) }}
        </a>
        <a href="https://maps.app.goo.gl/jgYuQX3mXrjMmnJo8">
            {{ ux_icon('logos:google-maps', {class: 'w-7 h-7'}) }}
        </a>
    </div>
</div></footer>
